body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.txt-center {
    text-align: center;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
article {
	background-color: #f8f8f8
}
input:focus::placeholder {
	color: #0f7c90;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
	transition: 0.5s ease-in;
}
input::placeholder{
	font-size: 15px;
}
header {
	background-color: #ddd;
	display: flex;
	align-items: center;
}
.flex {
	display: flex;
	justify-content: space-between;
	padding: 0 3%;
}
#logo h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
}
#divBusca{
  background-color:#fbfbf8;
  border:1px solid #989586;
  border-radius:10px;
  width:25%;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  width:88%;
  margin-top: 1%;
}

#divBusca img{
  float:left;
  width: 5%;
  margin: 2% 0 0 3%
}

.header-menu {
	list-style: none;
}
.header-menu ul li {
	display: inline-flex;
	margin-left: 25px;
}
.header-menu ul li a {
	color: #3c3b37;
	text-decoration: none;
}
.header-menu ul li a:hover {
	color: #0f7c90;
}

.icons {
	width: 12%
}

#menu {
	font-size: 0.9em;
	text-align: center;
	padding: 0 3%;
	border-top: 1px solid #989586;
	border-bottom: 1px solid #989586;
	background-color: #fbfbf8
}

#menu ul {
	margin: 0;
    padding: 0;
    list-style: none
}

#menu ul li {
	display: inline-flex;
}

/* Menu horizontal principal */
#menu ul li a {
    display: inline-block;
	text-decoration: none;
    color: #3c3b37;
    background-color: #fbfbf8;
    padding: 5px 10px;
    margin-right: -5px;
    width: 120px
}
#menu ul li a:last-child{
	border-left: 1px solid darkgray;
}
#sem-borda {
	border-left: none !important;
}
/* Alterar a cor de background dos itens do menu */
#menu ul li a:hover {
    background-color: #ddd;
}

.coluna {
    padding: 10px 5px 30px 5px;

}

.coluna1 { 
	width: 20%;
}

.coluna2 {
	width: 54%;
}

.coluna3 {
    width: 20%
}
#titulo-col {
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	background-color: #000;
	padding-left: 10px;
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 10px
}
.lista-col {
    margin: 0; padding: 0;
}
.lista-col li {
	font-size: 0.9em;
	padding-left: 5px;
    list-style: none;
    display: block;
    background-color: #fff;
    color: #000;
    padding: 10px 3px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.lista-col li:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

}
.lista-col li a {
	padding-left: 10px;
	text-decoration: none;
	color: #000
}
.lista-col li:not(:first-child):hover {
    background-color: #ddd;
    cursor: pointer;
}


.galeria{
	margin-top: 10px;
	position: relative;
}
.foto{
	width: 100%;
	position: absolute;
	opacity: 0;
	animation-name: animacao;
	animation-duration: 32s;
	animation-iteration-count: infinite;
}

@keyframes animacao {
	25% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

.foto:nth-child(2) {
	animation-delay: 8s;
}
.foto:nth-child(3) {
	animation-delay: 16s;
}
.foto:nth-child(4) {
	animation-delay: 24s;
}
/*Estilos da tabela da segunda coluna*/
.tabela {
	position: absolute;
	top: 540px;
	width: 51%;
}
table {
    font-size: 1rem;
    border-collapse: collapse;
    width: 100%;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #228B22;
  color: white;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
tr:nth-child(odd){
    background-color: #dcdcdc;
}
tr:not(:first-child):hover {
    background-color: #A9A9A9;
	cursor: pointer;
}


span {
	font-family: arial;
	font-size: 11px
}
.img-anuncio {
	width: 100%;
	margin-bottom: 10px;
	color: #808080;
}

footer {
    font-size: small;
    color: white;
    overflow: auto;
    background-color: #000;
    clear: both;
}

